<!DOCTYPE HTML>
<html>
  <title>HTML Page</title>
    <body>
      <h1>This is paragraph</h1>
        <hr>
        <p>At the time of writing this book, I was fortunate to work with an excellent team at Packt Publishing Ltd, whose contributions vastly improved the presentation of this book. Reshma Raman allowed me to provide her with ideas to develop this book and I jumped into the exciting project of teaching how to combine electronic components, sensors, actuators, the Intel Galileo Gen 2 board, and Python to create exciting Internet of Things projects. Divij Kotian helped me realize my vision for this book and provided many sensible suggestions regarding the text, the format, and the flow. 
        <br>
        <p>The reader will notice his great work. It was great working with Divij in another book. I would like to thank my technical reviewers and proofreaders for their thorough reviews and insightful comments. I was able to incorporate some of the knowledge and wisdom they have gained in their many years in the software development industry. This book was possible because they gave valuable feedback. Special thanks go to my father, José C. Hillar, who introduced me to electronics before I started speaking. I grew up among transistors, resistors, and soldering irons. His clear vision of the evolution of electronic components, microcontrollers, and microprocessors made it possible for me to learn everything that was necessary to build Internet of Things projects. He worked with me while testing all the sample projects included in the book. The interaction with a huge number of experts at Intel Developer Zone made it possible for me to become extremely familiar with the Intel Galileo and Intel Edison platforms, and start running Python code on them. 
        <br>
        <p>My visits to Intel Developer Forum 2013, 2014 and 2015 made me understand all the things that developers must know in order to successfully create modern IoT projects. Special thanks go to Kathy Farrel and Aaron Tersteeg. Many conversations with them in San Francisco, California, kicked off my idea of writing this book. The entire process of writing a book requires a huge number of lonely hours. I wouldn't have been able to write an entire book without dedicating some time to playing soccer with my sons, Kevin and Brandon, and my nephew, Nicolas. Of course, I never won a match. However, I did score a few goals.
        <hr>
    </body>
</html>
